* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik Mono One', sans-serif;
}

ul {
  position: fixed;
  top: 0;
  right: 0;
  margin: 30px;
  z-index: 10;
}

li {
  text-align: center;
  border-radius: 100%;
  font-size: 16px;
  width: 50px;
  height: 50px;
  margin: 15px;
  background-color: white;

}

ul, li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
  line-height: 50px;
}

section {
  height: 100vh;
  position: relative;
}

#section-uno {
  background-color: red;
}

#section-due {
  background-color: green;
}

#section-tre {
  background-color: yellow;
}

.item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: yellow;
  font-size: 20px;
}

#section-tre h2{
  color: darkgreen;
}
